<div class="page-header">
  <h3>Category #<%= @category_id.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @category_id.name %></dd>

      <dt>Cuisine</dt>
      <dd><%= @category_id.cuisine %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/category_ids" class="btn btn-primary">
        Back
      </a>
      <a href="/category_ids/<%= @category_id.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_category_id/<%= @category_id.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
