<div class="page-header">
  <h3>Dish #<%= @dish.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @dish.user.present? %>
          <a href="/users/<%= @dish.user_id %>">
            <%= @dish.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Venues</dt>
      <dd>
        <% if @dish.venues.present? %>
          <a href="/venues/<%= @dish.venues_id %>">
            <%= @dish.venues.neighborhood %>
          </a>
        <% end %>
      </dd>

      <dt>Category</dt>
      <dd>
        <% if @dish.category.present? %>
          <a href="/category_ids/<%= @dish.category_id %>">
            <%= @dish.category.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/dishes" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @dish.user %>
        <a href="/dishes/<%= @dish.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_dish/<%= @dish.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
